<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> 
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename="js/main.js") }}" type="text/javascript"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
        <link href="{{ url_for('static', filename="css/main.css") }}" rel="stylesheet" id="main-css">

        <script>
            greet();
            <!-- onClickAsEnter();-->
        </script>

    </head>
<body>
    <div class="container">
    <h3 class=" text-center">Messaging</h3>
        <div class="messaging">
            <div class="inbox_msg">
                <div class="mesgs">
                    <div class="msg_history">
                    </div>
                    <div class="type_msg">
                        <div class="input_msg_write">
                            <input type="text" class="write_msg" placeholder="Type a message" onkeyup="return onClickAsEnter(event)"/>
                            <input type="hidden" class="okay" value=0>
                            <input type="hidden" class="dialog_node">
                            <input type="hidden" class="node_detail">
                            <input type="hidden" class="parent">
                            <input type="hidden" class="condition">
                            <button class="msg_send_btn" type="button" onclick="onSendButtonClicked()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>