<!DOCTYPE html>
<html lang="ko">

<head>
    <title>Dialog 생성</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- <link href="../static/test.css" rel="stylesheet"> -->
</head>

<div class="container">
    <h1 class="text-center">Dialog 생성</h1><br>
    <form action="/write_action" method="post">
        <h5>dialog_node</h5>
        <input type="text" class="form-control" name="dialog"> <br>
        <h5>node_detail</h5>
        <input type="text" class="form-control" name="detail"> <br>
        <h5>text</h5>
        <textarea class="form-control" name="text"></textarea>
        <br>
        <h5>parent</h5>
        <input type="text" class="form-control" name="parent"> <br>
        <h5>condition</h5>
        <select class="form-select" name="condition">
            <option selected>Select Condition</option>
            <option value="seq">SEQ</option>
            <option value="YNO">YNO</option>
            <option value="ABCD">ABCD</option>
            <option value="BACK">BACK</option>
            <option value="END">END</option>
        </select><br>
        
        <div class="form-row">
            <button type="submit" class="btn btn-primary">작성</button>
        </div>
    </form>
</div>